
.home-container{
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.subject-sub-container{
  width: 20%;
  border: 2px solid black;
  height: 100%;
  padding: 10px 20px;
}

.book-list-container{
  padding: 10px 20px;
  width: 80%;
}

.subject-sub-container ul li{
  list-style: none;
  margin: 5px 0px;
  font-size: 15px;
  font-family: var(--font-family-primary);
  cursor: pointer;
  padding: 5px;
}

.subject-sub-container a{
  text-decoration: none;
  color: black;
}

.subject-sub-container ul li:hover{
  background-color: lightcoral;
}

.trending-title{
  font-weight: bold;
  font-size: 20px;
}

.books-table thead{
  background-color: orange;
}

.books-table td{
  padding: 10px;
}